* {
	margin: 0;
	padding: 0;
	font-family: 'microsoft yahei'
}

.ui-instance {
	display: inline-block;
	width: 180px;
	height: 60px;
	border: 2px solid green;
	padding: 0 10px;
	position: relative;
	margin: 0 20px 20px 0;
}

h2.selector {
	font-size: 15px;
	color: green;
	width: 180px;
	overflow: hidden;
}

.ui-instance .operations {
	width: 180px;
	position: absolute;
	bottom: 0;
	text-align: right;
}

.ui-instance .operations a {
	text-decoration: none;
	color: gray;
	font-size: 12px;
}

.ui-instance.hover {
	background: #EEE;
}

#backdrop {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 10;
	background: black;
	opacity: 0.3;
}

#options-editor {
	z-index: 20;
	position: fixed;
	width: 900px;
	height: 200px;
	top: 50%;
	left: 50%;
	margin-left: -450px;
	margin-top: -100px;
	background: #EEE;
	padding: 10px;
}

#options-editor .operations {
	position: absolute;
	bottom: 10px;
	right: 10px;
}

#options-editor .options {
	height: 160px;
	overflow-y: auto;
}

#options-editor .option {
	display: inline-block;
	width: 290px;
}

#options-editor .option .option-name {
	display: inline-block;
	width: 70px;
	overflow: hidden;
	vertical-align: middle;
}

#options-editor .option input {
	width: 160px;
}

.hide {
	display: none;
}

.componments-list {
	height: 25px;
    padding: 10px;
    border-bottom: 3px solid #EEE;
    cursor: pointer;
}

.componments-list .componment {
    display: inline-block;
    width: 100px;
    text-align: center;
    border: 1px solid #EEE;
    font-size: 15px;
    margin-right: 10px;
}

.componments-list .curr {
	background: #AAA;
}